<div class="container"> <br> <br>
<h5 style="text-align: center;position: relative; " > <kbd>Capture and Contribute</kbd></h5>
<br><br> <br> 
 <br>
<form>
 
  <div>
    <ul class="list-group">
          <li class="list-group-item"  *ngFor="let item of ITEMS">
            <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/> 
            {{item.value}}
            
          </li>
    </ul>
  </div> <br><br>
 

<div  style="text-align: center;">
  <input type="file" style="  position: absolute;  top: 50%;" id="file" (change)="upload($event)" >
  <label for="file" class="btn-1">Upload</label>
</div>

  
  <br><br>
  <div class="alert alert-success alert-dismissible" *ngIf="show">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Thanks for contributing!!</strong>
  </div>
</form>
</div>

